.lunch-page {
  align-items: center;
  animation: flipHeight 1.5s ease 0s forwards;
  background: #f9f9f9;
  display: flex;
  height: 0;
  justify-content: center;
}

@keyframes flipHeight {
  100% {
    height: 100%;
  }
}